


button, div, form, input, p {
	margin: 12px;

}

.center-paragraph {
	text-align: center;
}

button{
	color: black;
}

.title {
	padding-top: 15px;
	font-size: 150%;
	text-align: center;
	position: relative;
	left: -40px;
}

#caption {
	position: relative;
	left: 0px;
}


.hidden {
	visibility: hidden;
}


img  {
	padding: 10px;
}

#instuctions {
	padding: 20px;
}

.intro {
	padding-top: 20px;
}