


button, div, form, input, p {
	margin: 12px;

}

.center-paragraph {
	text-align: center;
}

button{
	color: black;
}

.title {
	padding-top: 15px;
	font-size: 250%;
	text-align: center;
	position: relative;
	left: -40px;
	bottom: 12px;
}

#caption {
	position: relative;
	left: 0px;
	bottom: 0px;
}


.hidden {
	visibility: hidden;
}


img  {
	padding: 10px;
}

#instuctions {
	padding: 20px;
}

.intro {
	padding-top: 20px;
}

.buttons {
	padding-top: 20px;
}

.reset {
	    position: relative;
    top: 15px;
}

a {
	z-index: 10;
}


#splash {
	border-right-color: #333;
	border-width: thick;
}
